@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --h1: #282828;
    --h2: #666;
    --subtle-grey: #bbb;
    --text: #555;
    --accent-1: #FFA500;
    --accent-2: #6E8CB6;
    --accent-3: #007F7F;
    --border: #ccc;
    --off-white-bg: #FFFAFA;

    --top-of-page-mobile-margin: 6rem;
    --mobile-margin-inline: 2rem;
    --mobile-vertical-gap: 3rem;

    --desktop-margin-inline: 10%;
    --desktop-vertical-gap: 7rem;
    --top-of-page-desktop-margin: 6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html,
body,
#app,
main {
    height: 100%;
}

html {
    overflow: clip;
}

p {
    color: var(--text);
}

.divider {
    border-top: 1px solid var(--border);
}